.label {
  position: relative;

  &::after,
  &::before {
    content: '';
    display: block;
    width: 10px;
    height: 4px;

    position: absolute;
    right: 10px;
    bottom: 50%;

    transform: translateY(50%) rotate(45deg);

    border-radius: 2px;
    background-color: var(--color-accent);
  }
  &::after {
    transform: translateY(50%) translateX(50%)
      rotate(135deg);
  }
}

.select {
  font-family: var(--font-main);
  color: var(--color-accent);
  font-weight: 600;
  text-transform: uppercase;
  font-size: inherit;

  padding: 10px 15px;
  padding-right: 30px;

  border-radius: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  appearance: none;

  &:hover {
    background-color: rgba(
      $color: #000000,
      $alpha: 0.1
    );
  }
  &:focus {
    outline: none;
    border: 1px solid var(--color-accent);
  }
}
