.catalog {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.title {
  margin: 30px var(--margin-default);

  color: var(--color-accent);
}

.filters {
  margin: 0 var(--margin-default);
}

.productList {
  margin: 20px var(--margin-default);
  min-height: 20vh;
}

.pagination {
  margin-top: auto;
  margin-left: auto;
  margin-right: var(--margin-default);

  margin-bottom: var(--margin-default);
}

.isLoading {
  height: 50vh;
}
