.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;

  > li {
    list-style-type: none;
  }
}

.notEnought {
  display: flex;
  align-items: center;
  justify-content: center;
}

.isLoading {
  height: 100%;
}
